---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Правила Криминал";
const parent = "Правила проекта";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <div class="section">
            <h2>1. Введение</h2>

            <div class="subsection">
                <h3>1.1. Общие положения</h3>
                <ul>
                    <li>
                        Незнание правил не освобождает от вас ответственности.
                    </li>
                    <li>
                        Каждый лидер своей группировки несёт ответственность за
                        своего участника.
                    </li>
                    <li>
                        Каждый куратор группировки несёт ответственность за свою
                        группировку.
                    </li>
                    <li>
                        Лидера группировки назначает только Следящий за Краймом.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>1.2. Переход из "Банды" в "ОПГ"</h3>
                <ul>
                    <li>Для перехода из фазы "Банда" в "ОПГ", необходимо:</li>
                    <ul>
                        <li>
                            чтобы государственные органы начали узнавать о вас
                            всё больше и больше;
                        </li>
                        <li>часто грабить игроков;</li>
                        <li>проявлять криминальную активность;</li>
                        <li>пополнять свой состав.</li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>1.3. Отличительные знаки группировок</h3>
                <ul>
                    <li>
                        У каждой группировки должен быть свой отличительный
                        знак:
                    </li>
                    <ul>
                        <li>маска;</li>
                        <li>одежда;</li>
                        <li>цвет машины;</li>
                        <li>обвес оружия;</li>
                        <li>вид оружия.</li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>1.4. Вид оружия группировок</h3>
                <ul>
                    <li>
                        У каждой группировки свой вид оружия (не обязательный
                        вид оружия):
                    </li>
                    <ul>
                        <li>
                            "Чужие" имеют оружие бесшумного типа (глушители),
                            так как они ведут скрытную деятельность. Обычно это
                            пистолеты.
                        </li>
                        <li>"Солнечные" чаще всего ходят с дробовиками.</li>
                        <li>"Волговские" ходят с автоматическими оружиями.</li>
                        <li>
                            "Семья Филинов" имеют свои пистолеты и
                            пистолет-пулемёт "Томпсон".
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>2. Ограбления игроков</h2>

            <div class="subsection">
                <h3>2.1. Общие правила</h3>
                <ul>
                    <li>
                        Грабить игроков могут только участники криминальных
                        фракций.
                    </li>
                    <li>Ограбления проводятся:</li>
                    <ul>
                        <li>в безлюдных местах;</li>
                        <li>за пределами города.</li>
                    </ul>
                    <li class="punishment">
                        Запрещено грабить в местах заработка (лесопилка, шахта,
                        ферма и т.п.) и в городах.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2.2. Обращение с жертвой</h3>
                <ul>
                    <li>Если жертва выполнила все требования:</li>
                    <ul>
                        <li>допускаются несмертельные увечья;</li>
                        <li>запрещено доводить до механической смерти;</li>
                        <li>запрещено после обыска добивать жертву.</li>
                    </ul>
                    <li>
                        Косвенная смерть жертвы в течение 5 минут после контакта
                        ложится на нападавшего.
                    </li>
                    <li>
                        Нельзя начинать ограбление, если игрок уже без сознания.
                    </li>
                    <li>
                        Если он упал в процессе — ограбление можно завершить.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2.3. Изъятие ценностей</h3>
                <ul>
                    <li>
                        Изъятие ценностей проводится только через /inv — Обыск:
                    </li>
                    <ul>
                        <li>
                            Самовольный «обмен» через другие механики
                            приравнивается к нарушению.
                        </li>
                        <li>
                            Разрешено забирать только мелкие вещи (еда но не
                            вся, предметы мебели, деньги До 5 тысяч рублей,
                            оружие, патроны).
                        </li>
                        <li>Запрещено раздевать игрока.</li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>2.4. Особые ограничения</h3>
                <ul>
                    <li class="punishment">
                        Запрещены рейды административных центров и полицейских
                        департаментов без разрешения Главного Администратора или
                        в рамках спец-ивентов.
                    </li>
                    <li class="punishment">
                        Запрещен рейд дома/квартиры без согласия Следящего за
                        Краймом.
                    </li>
                    <li>
                        Ограбление сотрудников полиции допускается только при
                        численном преимуществе крайма минимум 2:1.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>3. Ограбления точек (магазины, АЗС и т.п.)</h2>

            <div class="subsection">
                <h3>3.1. Условия проведения</h3>
                <ul>
                    <li>
                        Игроки криминальных группировок выше 1 ранга могут
                        начать ограбление точки.
                    </li>
                    <li>Ограбление проваливается, если ведущий вор:</li>
                    <ul>
                        <li>убит;</li>
                        <li>в наручниках;</li>
                        <li>покинул территорию точки.</li>
                    </ul>
                    <li>
                        Начать ограбление можно только от 2-х участников
                        группировки на территории.
                    </li>
                    <li>
                        Ведущий ограбления обязан находиться внутри точки, абуз
                        границ региона запрещён.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>3.2. Внешний вид</h3>
                <ul>
                    <li>Все участники ограбления:</li>
                    <ul>
                        <li>в масках;</li>
                        <li>с огнестрельным оружием на виду.</li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>4. Криминал и онлайн госструктур</h2>

            <div class="subsection">
                <h3>4.1. Запреты при отсутствии госструктур</h3>
                <ul>
                    <li>При отсутствии госструктур на смене запрещены:</li>
                    <ul>
                        <li>
                            захват заложников (требуется минимум 2 госслужащих
                            на смене);
                        </li>
                        <li>
                            ограбления банков (требуется минимум 6 госслужащих
                            на службе);
                        </li>
                        <li>
                            нападения на бизнесы (требуется минимум 4
                            госслужащих на службе);
                        </li>
                        <li>
                            взлом дверей и важных объектов (требуется минимум 5
                            госслужащих на службе);
                        </li>
                        <li>
                            захват кпп (требуется минимум 10 госслужащих на
                            смене).
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>4.2. Изменение количества сотрудников</h3>
                <ul>
                    <li>
                        Если на момент начала криминальной ситуации полицейских
                        было достаточно, но их количество потом уменьшилось —
                        ситуацию можно доиграть до конца.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>5. Капты и Территории</h2>

            <div class="subsection">
                <h3>5.1. Общие положения</h3>
                <ul>
                    <li>
                        Территория капта отмечена на карте и является зоной
                        конфликта между фракциями.
                    </li>
                    <li>
                        Лидер фракции может взять «заморозку каптов» на 1–3 дня
                        в начале своего срока.
                    </li>
                    <li>
                        Все участники капта обязаны соблюдать общие RP-правила.
                        К нарушителям применяются любые виды наказаний.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>5.2. Ограничения</h3>
                <ul>
                    <li>
                        Запрещено использовать крыши/позиции, недоступные без
                        посторонней помощи с начала капта;
                    </li>
                    <li>
                        Запрещено покидать зону капта игрокам, начавшим захват и
                        охраняющим территорию.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>5.3. Время проведения</h3>
                <ul>
                    <li>Начинать капт можно с 17:00 до 20:00;</li>
                    <li>Длительность — 15 минут;</li>
                    <li>
                        Капт успешен, если по окончании времени на территории
                        осталось больше ваших участников.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>5.4. Участие</h3>
                <ul>
                    <li>Начать капт может только лидер/зам;</li>
                    <li>
                        Участвуют только официальные представители фракций,
                        начавших захват;
                    </li>
                    <li>Семьи не вмешиваются до завершения.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>6. Нелегальные Фракции</h2>

            <div class="subsection">
                <h3>6.1. Права нелегальных фракций</h3>
                <ul>
                    <li>Нелегальные фракции имеют право заниматься:</li>
                    <ul>
                        <li>производством;</li>
                        <li>перевозкой;</li>
                        <li>реализацией наркотических веществ.</li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>6.2. Торговля наркотическими веществами</h3>
                <ul>
                    <li>
                        Для мелкой уличной торговли локационные ограничения
                        минимальны (кроме ЗЗ и откровенных абузов).
                    </li>
                    <li>Крупные партии (склады, крупные сделки) зависят от:</li>
                    <ul>
                        <li>влияния группировки;</li>
                        <li>участия в войнах, каптах, захватах;</li>
                        <li>общей криминальной активности.</li>
                    </ul>
                    <li>
                        Сильные группировки получают больше возможностей, слабые
                        — меньше (по IC/OOC-согласованию).
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>6.3. Обязанности новичков</h3>
                <ul>
                    <li>
                        Новички, не знающие устройство семьи/фракций (условный
                        «1–2 печенька»), обязаны:
                    </li>
                    <ul>
                        <li>изучить регламенты;</li>
                        <li>пройти обучение/стажировку;</li>
                        <li>
                            не брать на себя сложные криминальные схемы без
                            понимания последствий.
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>7. Поставка Крайма</h2>

            <div class="subsection">
                <h3>7.1. Начальная поставка</h3>
                <ul>
                    <li>
                        В начале вайпа, каждая группировка получает начальную
                        поставку.
                    </li>
                    <li>Поставка включает в себя:</li>
                    <ul>
                        <li>100.000 игровой валюты;</li>
                        <li>начальное здание группировки;</li>
                        <li>начальная машина (Буханка, УАЗ, Lada 2107).</li>
                    </ul>
                    <li>Поставка выдаётся снова при новом лидере.</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>7.2. Поставка для ОПГ</h3>
                <ul>
                    <li>
                        При получения статуса группировки/бандформирования -
                        "ОПГ", даётся доступ к поставке через администрацию:
                    </li>
                    <ul>
                        <li>заказать оружие, соответствующее лору ОПГ;</li>
                        <li>заказать форму своей группировки;</li>
                        <li>заказать дополнительный сейф (1 раз в неделю).</li>
                    </ul>
                    <li>Учитывайте, что поставка едет от 2 до 5 дней.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>8. Смена лидера</h2>

            <div class="subsection">
                <h3>8.1. Снятие лидера</h3>
                <ul>
                    <li>
                        Следящий за Краймом и вышестоящая администрация вправе
                        снять лидера группировки за нарушения, опираясь на
                        предоставленные доказательства нарушений со стороны
                        лидера.
                    </li>
                    <li>
                        При снятии лидера, группировка идёт под расформирование:
                    </li>
                    <ul>
                        <li>
                            все вещи из сейфов и других видов хранилища -
                            удаляются и не подлежат выдаче бывшим участникам
                            группировки.
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>8.2. Назначение нового лидера</h3>
                <ul>
                    <li>
                        При постановлении нового лидера - выдается начальная
                        поставка группировке.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>9. Рейд на здание/дом</h2>

            <div class="subsection">
                <h3>9.1. Условия проведения рейда</h3>
                <ul>
                    <li>
                        Проводить рейд криминальным группировкам можно только
                        при одобрении Следящего за Краймом или вышестоящей
                        администрации:
                    </li>
                    <ul>
                        <li>
                            для одобрения, нужно иметь причину и доказательства
                            на причину для рейда здания/дома;
                        </li>
                        <li>
                            лидер/зам обязан вести видео-доказательства рейда.
                        </li>
                    </ul>
                    <li class="punishment">
                        Если же отсутствуют видео-доказательства на рейд -
                        происходит откат ситуации, с возвращением вещей
                        владельцам и последующим отказом на рейд данного
                        здания/квартиры.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>9.2. Внешний вид участников</h3>
                <ul>
                    <li>
                        Во время рейда, каждый участник рейда обязан носить:
                    </li>
                    <ul>
                        <li>
                            маску, закрывающее полностью лицо (Балаклава, очки);
                        </li>
                        <li>оружие на виду.</li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>10. Производство наркотических веществ</h2>

            <div class="subsection">
                <h3>10.1. Права в зависимости от статуса</h3>
                <ul>
                    <li>
                        Производство веществ зависит от статуса группировки в
                        области:
                    </li>
                    <ul>
                        <li>Банда имеет право на маленькие грядки;</li>
                        <li>ОПГ имеет право на маленькие/большие грядки;</li>
                        <li>
                            Семье запрещено производить наркотические вещества.
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>10.2. Дополнительные требования</h3>
                <ul>
                    <li>
                        При закупке семян конопли на границе, любой участник
                        группировки должен иметь видео-доказательство
                        происходящего.
                    </li>
                    <li>
                        Производство наркотических веществ происходит в
                        подвалах, гаражах.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
