---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Семья Филина";
const parent = "Фракции и Семьи";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <p>От них больше получали пизды, чем информации.</p>
    </div>
</PageLayout>
