---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Росгвардия";
const parent = "Фракции и Семьи";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <div class="section">
            <h2>Росгвардия Нижегородской области</h2>

            <div class="subsection">
                <h3>Общие положения</h3>
                <ul>
                    <li>
                        Росгвардия — специализированное силовое подразделение,
                        привлекаемое для выполнения задач повышенной сложности и
                        опасности.
                    </li>
                    <li>
                        Основная цель — поддержание общественного порядка,
                        обеспечение безопасности и контроль критически важных
                        объектов.
                    </li>
                    <li>
                        Работа требует строгого соблюдения дисциплины,
                        профессионализма и ответственности.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>Обязанности</h3>
                <ul>
                    <li>Проведение контртеррористических операций (КТО).</li>
                    <li>
                        Подавление массовых беспорядков и экстремистских
                        проявлений.
                    </li>
                    <li>
                        Организация и участие в штурмах и силовых спецоперациях.
                    </li>
                    <li>
                        Охрана важных государственных объектов и стратегических
                        территорий.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>Запреты</h3>
                <ul>
                    <li>
                        Запрещены любые действия без официального приказа
                        вышестоящего руководства.
                    </li>
                    <li>
                        Недопустимо применение силы без веского RP-основания и
                        подтверждения ситуации.
                    </li>
                    <li>
                        Запрещено нарушение дисциплины и субординации в ходе
                        службы.
                    </li>
                    <li>
                        Запрещено участие в криминальной деятельности и
                        нарушение правил RP.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>RP-особенности</h3>
                <ul>
                    <li>
                        Работа осуществляется с использованием чётких и
                        лаконичных команд, минимальным количеством эмоций.
                    </li>
                    <li>
                        Обязательное строгое соблюдение дисциплины, субординации
                        и внутренних протоколов.
                    </li>
                    <li>
                        Акцент на реалистичное и профессиональное поведение в
                        любых ситуации.
                    </li>
                    <li>
                        Все действия и решения должны быть обоснованы и
                        согласованы внутри RP.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
