@import './_back-to-top.scss';
@import './_discord.scss';
@import './_error.scss';
@import './_footer.scss';
@import './_head.scss';
@import './_header.scss';
@import './_landing.scss';
@import './_lazyload.scss';
@import './_map.scss';
@import './_page.scss';
@import './_page_map.scss';
@import './_rules.scss';
@import './_russian-realities.scss';
@import './_search.scss';


@tailwind base;
@tailwind components;
@tailwind utilities;

