---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Конституция Российской Федерации";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <p>
            Конституция Российской Федерации — это основной закон страны,
            определяющий основные принципы государственного устройства, права и
            свободы граждан, а также систему власти.
        </p>

        <div class="section">
            <h2>ОСНОВЫ КОНСТИТУЦИОННОГО СТРОЯ</h2>

            <div class="subsection">
                <h3>
                    1. Государственная власть в Российской Федерации
                    осуществляется на основе разделения на исполнительную и
                    судебную.
                </h3>
                <ul>
                    <li>
                        1.1. Государственную власть в Российской Федерации
                        осуществляет Правительство Российской Федерации;
                    </li>
                    <li>
                        1.2. Главой исполнительной власти и гарантом настоящей
                        Конституции является Губернатор;
                    </li>
                    <li>
                        1.3. Органы исполнительной и судебной власти
                        самостоятельны.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2. Равенство перед законом и судом</h3>
                <ul>
                    <li>2.1. Все равны перед законом и судом.</li>
                    <li>
                        2.2. Государство гарантирует равенство прав и свобод
                        человека и гражданина независимо от пола, расы,
                        национальности, происхождения, имущественного и
                        должностного положения, убеждений или иных
                        обстоятельств.
                    </li>
                    <li>
                        2.3. Любые формы ограничения прав граждан по указанным
                        признакам запрещаются.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>3. Право на жизнь</h3>
                <ul>
                    <li>3.1. Каждый имеет право на жизнь.</li>
                    <li>3.2. Смертная казнь временно заморожена.</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>4. Право на неприкосновенность частной жизни</h3>
                <ul>
                    <li>
                        4.1. Каждый имеет право на неприкосновенность частной
                        жизни, личную и семейную тайну, защиту своей чести и
                        доброго имени.
                    </li>
                    <li>
                        4.2. Сбор, хранение, использование и распространение
                        информации о частной жизни лица без его согласия не
                        допускаются, за исключением случаев, прямо
                        предусмотренных федеральным законом в целях защиты основ
                        конституционного строя, нравственности, здоровья, прав и
                        законных интересов других лиц, обеспечения обороны
                        страны и безопасности государства.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>5. Право на охрану здоровья и медицинскую помощь</h3>
                <ul>
                    <li>
                        5.1. Каждый имеет право на охрану здоровья и
                        квалифицированную медицинскую помощь.
                    </li>
                    <li>
                        5.2. Медицинская помощь в государственных и
                        муниципальных учреждениях здравоохранения оказывается
                        гражданам бесплатно за счет государства.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>6. Право на защиту</h3>
                <ul>
                    <li>
                        6.1. Каждый подозреваемый в совершении преступления
                        имеет право на адвоката с момента его задержания.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>7. Презумпция невиновности</h3>
                <ul>
                    <li>
                        7.1. Каждый обвиняемый в совершении преступления
                        считается невиновным, пока его виновность не будет
                        доказана в предусмотренном федеральным законом порядке.
                    </li>
                    <li>
                        7.2. Подробное содержание принципа раскрывается в статье
                        13 Процессуального кодекса Российской Федерации.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>8. Полномочия Губернатора области</h3>
                <ul>
                    <li>
                        8.1. Подписывает государственные договоры и соглашения;
                    </li>
                    <li>8.2. Обеспечивает благоустройство области;</li>
                    <li>8.3. Решает финансовые вопросы области;</li>
                    <li>
                        8.4. Предоставляет еженедельные отчеты своей
                        деятельности;
                    </li>
                    <li>
                        8.5. Решает любые вопросы с частным и государственным
                        бизнесом;
                    </li>
                    <li>8.6. Занимается организацией мирных мероприятий;</li>
                    <li>
                        8.7. Вводит чрезвычайное положение с утверждением
                        Генерального Прокурора.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>9. Право законодательной инициативы</h3>
                <ul>
                    <li>
                        9.1. Право законодательной инициативы принадлежит всем
                        лидерам государственных организаций в рамках их
                        законопроектов, направленных на рассмотрение в
                        электронный документооборот Нижегородской области.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>10. Неприкосновенность жилища</h3>
                <ul>
                    <li>
                        10.1. Жилище гражданина неприкосновенно. Никто не вправе
                        проникать в жилище против воли проживающих в нем лиц.
                    </li>
                    <li>
                        10.2. Проникновение в жилище, его осмотр, обыск или
                        вскрытие допускаются только на основании ордера,
                        выданного Прокурором, или по решению Суда.
                    </li>
                    <li>
                        10.3. Без ордера или решения Суда проникновение
                        допустимо исключительно в следующих случаях:
                    </li>
                    <ul>
                        <li>
                            10.3.1. Для спасения жизни граждан и (или) их
                            имущества, обеспечения безопасности граждан;
                        </li>
                        <li>
                            10.3.2. Для задержания лиц, подозреваемых в
                            совершении преступления, в том числе застигнутых на
                            месте преступления или скрывающихся с места
                            преступления;
                        </li>
                        <li>
                            10.3.3. Для пресечения совершаемого преступления.
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>11. Судебная власть</h3>
                <ul>
                    <li>
                        11.1. Правосудие в Российской Федерации осуществляется
                        только Судом.
                    </li>
                    <li>
                        11.2. Судьи независимы и подчиняются исключительно
                        Федеральным законам.
                    </li>
                    <li>
                        11.3. Судьи имеют полномочия издавать постановления в
                        письменной форме;
                    </li>
                    <li>
                        11.4. Судьи вправе назначать судебное заседание при
                        наличии достаточных оснований для судопроизводства;
                    </li>
                    <li>11.5. Судьи вправе переносить судебное заседание;</li>
                    <li>
                        11.6. Судьи вправе признать гражданина виновным /
                        невиновным;
                    </li>
                    <li>
                        11.7. Апелляцию по жалобе на Судью Области производит
                        Верховный Судья.
                    </li>
                    <li>
                        11.8. Суд в Российской Федерации производится
                        исключительно в отношении неприкосновенных лиц.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>12. Адвокатская палата</h3>
                <ul>
                    <li>
                        12.1. Адвокатская деятельность — это квалифицированная
                        юридическая помощь, которую на профессиональной основе
                        оказывают лица со статусом адвоката физическим и
                        юридическим лицам для защиты их прав, свобод и
                        интересов, а также обеспечения доступа к правосудию.
                    </li>
                    <li>
                        12.2. Управление делами адвокатуры осуществляется
                        адвокатами самостоятельно в рамках действующей
                        Конституции и иных законов.
                    </li>
                    <li>
                        12.3. Адвокат имеет право давать консультации и справки
                        по правовым вопросам в устной и письменной форме;
                    </li>
                    <li>
                        12.4. Адвокат имеет право составлять заявления, жалобы,
                        ходатайства и другие документы правового характера;
                    </li>
                    <li>
                        12.5. Адвокат имеет право представлять интересы клиента
                        в рамках судопроизводства и задержания;
                    </li>
                    <li>
                        12.6. Адвокат имеет право брать за свою работу
                        вознаграждения любого законного характера;
                    </li>
                    <li>
                        12.7. Адвокат имеет право проводить конфиденциальную
                        беседу с клиентом в рамках процессуальных действий не
                        более чем 15 минут;
                    </li>
                    <li>
                        12.8. Адвокат вправе собирать любые сведения для
                        юридической помощи.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>13. О закрытых и охраняемых территориях</h3>
                <ul>
                    <li>
                        13.1. Личная недвижимость граждан является закрытой
                        территорией;
                    </li>
                    <li>
                        13.2. Любое помещение государственной недвижимости кроме
                        холла, парковки, приемной является закрытой территорией;
                    </li>
                    <li>
                        13.3. Холл, парковка, приемная государственной
                        недвижимости является охраняемой территорией, любой
                        сотрудник за которым закреплена "ЗОТ" имеет право
                        вынести законное требование любому гражданскому лицу
                        покинуть "ЗОТ";
                    </li>
                    <li>
                        13.4. Допуск на государственную закрытую территорию
                        выдается Губернатором и его заместителем, а также
                        старшим составом организации, к которой принадлежит
                        государственная закрытая территория.
                    </li>
                    <li>
                        13.5. Адвокаты, Прокуроры, Судьи имеют доступ ко всем
                        "ЗОТ" в рамках исполнения должностных полномочий.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>14. О неприкосновенности и правовой защите</h3>
                <ul>
                    <li>
                        14.1. Статус неприкосновенности может быть снят
                        исключительно Судьей;
                    </li>
                    <li>
                        14.2. Губернатора, Вице-Губернатора, Судью, Генерального
                        Прокурора, Лидеров любых государственных организаций и
                        Курирующих их лиц нельзя привлечь к мерам
                        процессуального принуждения в виде ареста, задержания,
                        обыска до момента снятия с них статуса
                        неприкосновенности;
                    </li>
                    <li>
                        14.3. Сотрудников правоохранительных органов нельзя
                        привлечь к любой уголовной ответственности до момента
                        постановления Прокурора по поданному обращению
                        (Исключение: преступления, отнесенные к категории особо
                        тяжких Уголовного кодекса РФ);
                    </li>
                    <li>
                        14.4. Лиц, с полным статусом неприкосновенности, вправе
                        задержать и провести личный обыск на месте в случае если
                        в настоящий момент ими нарушена одна из следующих статей
                        "УК РФ": 1-6, 8, 12.
                    </li>
                    <li>
                        14.5. Лиц, с полным статусом неприкосновенности, вправе
                        задержать и провести личный обыск на месте в случае если
                        в настоящий момент ими нарушена одна из особо тяжких
                        статей, перечисленных в Уголовном кодексе РФ.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>15. Обязательная регистрация и легализация оружия</h3>
                <ul>
                    <li>
                        15.1. Гражданин, владеющий любым видом огнестрельного
                        оружия, обязан зарегистрировать его в Федеральной службе
                        войск национальной гвардии Российской Федерации
                        (Росгвардии).
                    </li>
                    <li>
                        15.2. На регистрацию отводится срок 24 часа с момента
                        приобретения или обнаружения оружия на территории
                        области. По истечении данного срока любое
                        незарегистрированное оружие считается незаконным.
                    </li>
                    <li>
                        15.3. Гражданин, не желающий или не имеющий права
                        регистрировать оружие, обязан в тот же срок (24 часа)
                        сдать его в ближайшее подразделение Росгвардии.
                        Добровольная сдача оружия, не использованного в
                        преступлении, освобождает от уголовной ответственности
                        за его незаконное хранение.
                    </li>
                    <li>
                        15.4. Порядок и условия регистрации, а также перечень
                        оружия, не подлежащего регистрации (например,
                        гранатомет, специальные средства - свето-шумовые
                        гранаты, осколочные гранаты, зажигательные гранаты, и
                        прочее взрывчатое вооружение), определяются отдельным
                        федеральным законом и приказами Росгвардии.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    16. Право на собрания, митинги, демонстрации и пикетирование
                </h3>
                <ul>
                    <li>
                        16.1. Граждане Российской Федерации имеют право
                        собираться мирно, без оружия, проводить собрания,
                        митинги, демонстрации, шествия и пикетирование.
                    </li>
                    <li>
                        16.2. Публичное мероприятие может быть проведено только
                        после получения письменного разрешения (санкции) от
                        командования территориального органа Федеральной службы
                        войск национальной гвардии (Росгвардии). В заявке
                        организаторы обязаны указать время, место, маршрут,
                        предполагаемое количество участников и цель мероприятия.
                    </li>
                    <li>
                        16.3. Росгвардия обязана рассмотреть заявку и дать ответ
                        в срок, позволяющий провести мероприятие в
                        запланированное время. Отказ или задержка ответа без
                        веских оснований могут быть обжалованы в прокуратуру.
                    </li>
                    <li>
                        16.4. Мероприятие, проведенное без санкции Росгвардии,
                        считается несанкционированным. Его участники несут
                        ответственность в соответствии с административным и
                        уголовным законодательством, а само мероприятие подлежит
                        немедленному прекращению силами правопорядка.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
