---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Закон о Министерстве Здравоохранения";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <div class="section">
            <h2>Министерство здравоохранения Российской Федерации</h2>
            <div class="subsection">
                <p>
                    Министерство здравоохранения Российской Федерации (Минздрав
                    России) - является федеральным органом исполнительной
                    власти, осуществляющим функции по выработке и реализации
                    государственной политики и нормативно-правовому
                    регулированию в сфере здравоохранения, а также по
                    организации оказания экстренной и скорой медицинской помощи.
                </p>
            </div>
        </div>

        <div class="section">
            <h2>ОСОБАЯ ЧАСТЬ</h2>

            <div class="subsection">
                <h3>1. Основные задачи и полномочия Минздрава</h3>
                <ul>
                    <li>
                        1.1 Обеспечивать оказание своевременной и
                        квалифицированной медицинской помощи гражданам.
                    </li>
                    <li>
                        1.2 Организовывать и координировать работу службы скорой
                        медицинской помощи (СМП).
                    </li>
                    <li>
                        1.3 Оказывать экстренную медицинскую помощь на месте
                        происшествий (ДТП, чрезвычайные ситуации) в
                        первоочередном порядке. Приоритет на месте происшествия
                        отдается медицинским работникам для спасения жизни и
                        здоровья пострадавших.
                    </li>
                    <li>
                        1.4 Требовать от граждан и иных должностных лиц
                        прекращения действий, препятствующих оказанию
                        медицинской помощи. <span class="punishment"
                            >Неисполнение данного требования влечет
                            ответственность по статье 2 Административного
                            кодекса РФ.</span
                        >
                    </li>
                    <li>
                        1.5 Запрашивать и получать необходимую информацию от
                        правоохранительных органов для выполнения своих задач.
                    </li>
                    <li>
                        1.6 Использовать специальное оборудование и транспорт,
                        состоящие на балансе Минздрава, исключительно в
                        служебных целях.
                    </li>
                    <li>
                        1.7 Вносить представления в правоохранительные органы о
                        фактах, требующих их реагирования (например,
                        необходимость обеспечения безопасности на месте
                        массового происшествия).
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2. Структура и специализация</h3>
                <ul>
                    <li>
                        Штаб (Центральное управление) - осуществляет общее
                        руководство, планирование и координацию деятельности
                        всех медицинских служб.
                    </li>
                    <li>
                        Врачебно-сестринские бригады скорой помощи - мобильные
                        группы, непосредственно оказывающие экстренную
                        медицинскую помощь на вызовах.
                    </li>
                    <li>
                        Служба медицинских водителей (Водители СМП) -
                        обеспечивает оперативную и безопасную транспортировку
                        бригад и пациентов.
                    </li>
                    <li>
                        Интерны (Стажеры) — лица, проходящие профессиональную
                        подготовку под руководством опытных сотрудников для
                        дальнейшего карьерного роста в системе.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>3. Специальные полномочия и статус подразделений</h3>

                <div class="subsection">
                    <h4>
                        3.1. Служба скорой медицинской помощи (Бригады и
                        водители)
                    </h4>
                    <ul>
                        <li>
                            3.1.1 Транспортные средства скорой медицинской
                            помощи, выполняющие экстренный вызов с включенными
                            проблесковыми маячками синего и красного цветов и
                            специальным звуковым сигналом, имеют право отступать
                            от требований отдельных пунктов Правил дорожного
                            движения для обеспечения максимально быстрого
                            прибытия к месту вызова, за исключением правил,
                            регулирующих пешеходные переходы и сигналы светофора
                            (если иное не оговорено в Административном кодексе).
                        </li>
                        <li>
                            3.1.2 Данное право не освобождает водителя СМП от
                            обязанности принимать все возможные меры для
                            обеспечения безопасности дорожного движения.
                        </li>
                        <li>
                            3.1.3 Водитель СМП обязан иметь при себе документы,
                            подтверждающие факт выполнения экстренного вызова.
                        </li>
                    </ul>
                </div>

                <div class="subsection">
                    <h4>3.2. Интерны (Стажеры)</h4>
                    <ul>
                        <li>
                            3.2.1 Выполняют обязанности под непосредственным
                            руководством и контролем штатного врача или
                            фельдшера.
                        </li>
                        <li>
                            3.2.2 Не имеют права самостоятельно принимать
                            окончательные решения о диагнозе, методе лечения или
                            прекращении оказания помощи, за исключением
                            очевидных действий по спасению жизни при отсутствии
                            руководителя.
                        </li>
                        <li>
                            3.2.3 Их действия и решения считаются действиями и
                            решениями курирующего их сотрудника Минздрава.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="subsection">
                <h3>4. Порядок применения полномочий и взаимодействия</h3>
                <ul>
                    <li>
                        4.1 Прибывшая на место происшествия бригада СМП обладает
                        приоритетом в вопросах медицинской оценки состояния
                        пострадавших и определения порядка их эвакуации.
                        Требования медицинских работников, связанные с оказанием
                        помощи, обязательны для исполнения всеми присутствующими
                        лицами.
                    </li>
                    <li>
                        4.2 Взаимодействие с правоохранительными органами (МВД,
                        Росгвардия, ФСБ) на месте происшествия осуществляется на
                        принципах взаимного содействия для достижения общей цели
                        — спасения жизни и здоровья граждан. Тактическое
                        руководство операцией по задержанию сохраняется за
                        правоохранительными органами, медицинское — за старшим
                        сотрудником Минздрава на месте.
                    </li>
                    <li>
                        4.3 Все медицинские вмешательства и оказание помощи
                        должны фиксироваться в установленной медицинской
                        документации.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
