---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Закон о Росгвардии";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <div class="section">
            <h2>
                Федеральная служба войск национальной гвардии Российской
                Федерации (Росгвардия)
            </h2>
            <div class="subsection">
                <p>
                    Федеральная служба войск национальной гвардии Российской
                    Федерации (Росгвардия) — федеральный орган исполнительной
                    власти, осуществляющий функции по выработке и реализации
                    государственной политики и нормативно-правовому
                    регулированию в сфере деятельности войск национальной
                    гвардии Российской Федерации.
                </p>
            </div>
        </div>

        <div class="section">
            <h2>ВВОДНАЯ ЧАСТЬ: НАЗНАЧЕНИЕ И СТРУКТУРА</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Росгвардия представляет собой военизированную структуру,
                        созданную для защиты государства и общества, в которую
                        входят специальные отряды быстрого реагирования
                        (Р.О.Н.), войска национальной гвардии, а также
                        подразделения охраны и лицензионно-разрешительной
                        системы.
                    </li>
                    <li>Основные структурные подразделения:</li>
                    <ul>
                        <li>
                            Р.О.Н. (Рота Оперативного Назначения) —
                            подразделение быстрого реагирования для проведения
                            контртеррористических операций, штурмов и силовых
                            спецопераций.
                        </li>
                        <li>
                            Р.О.О. (Рота Охраны Объектов) — подразделение,
                            ответственное за охрану важных государственных
                            объектов и стратегических территорий.
                        </li>
                    </ul>
                    <li>Основные обязанности и принципы:</li>
                    <ul>
                        <li>
                            Участие в контртеррористических операциях (КТО) и
                            обеспечение специального правового режима на
                            территории их проведения по решению федерального
                            органа исполнительной власти в сфере безопасности
                            (ФСБ России) или Генеральной прокуратуры.
                        </li>
                        <li>
                            Подавление массовых беспорядков и экстремистских
                            проявлений.
                        </li>
                        <li>
                            Организация и участие в штурмах и силовых
                            спецоперациях.
                        </li>
                        <li>
                            Охрана важных государственных объектов и
                            стратегических территорий.
                        </li>
                        <li>
                            Работа требует строгого соблюдения дисциплины,
                            профессионализма и ответственности.
                        </li>
                        <li class="punishment">
                            Запрещено участие в криминальной деятельности.
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>ОСОБАЯ ЧАСТЬ</h2>

            <div class="subsection">
                <h3>1. Основные полномочия Росгвардии</h3>
                <ul>
                    <li>Органы и подразделения Росгвардии вправе:</li>
                    <li>
                        1.1 Требовать от граждан и должностных лиц прекращения
                        противоправных действий;
                    </li>
                    <li>
                        1.2 Проверять у лиц документы, удостоверяющие их
                        личность в случаях, предусмотренных статьей 8
                        Процессуального кодекса РФ;
                    </li>
                    <li>
                        1.3 Патрулировать населенные пункты, обозначать места
                        происшествий, места проведения публичных и массовых
                        мероприятий, территории и объекты, нахождение граждан на
                        которых ограничено или представляет угрозу для их
                        безопасности.
                    </li>
                    <li>
                        1.4 Требовать от граждан покинуть место совершения
                        преступления, правонарушения или место происшествия;
                    </li>
                    <li>
                        1.5 Требовать граждан разойтись при нарушении
                        законодательства во время проведения публичного
                        мероприятия, либо проведения собрания, митинга,
                        демонстрации;
                    </li>
                    <li>
                        1.6 Производить процессуальные действия (включая
                        административное задержание) с дальнейшей передачей
                        подозреваемого сотрудникам "МВД" или "ФСБ" в
                        соответствии с правилами подследственности,
                        установленными статьей 16 Процессуального кодекса РФ;
                    </li>
                    <li>
                        1.7 Останавливать транспортные средства в случаях и
                        порядке, предусмотренных статьей 7 Процессуального
                        кодекса РФ.
                    </li>
                    <li>
                        1.8 Беспрепятственно входить в любое время суток на
                        территории и в помещения охраняемых войсками
                        национальной гвардии объектов, осматривать их в целях
                        пресечения преступлений или административных
                        правонарушений, а также в целях задержания лиц,
                        незаконно проникших либо пытавшихся проникнуть на
                        охраняемые объекты;
                    </li>
                    <li>
                        1.9 Контролировать оборот гражданского оружия, выдавать
                        лицензии и разрешения на него, а также соблюдение
                        гражданами и организациями законодательства Российской
                        Федерации в области оборота оружия;
                    </li>
                    <li>
                        1.9.1 Ведение единого реестра зарегистрированного
                        огнестрельного оружия на территории области в
                        соответствии со статьей 15 Конституции РФ.
                    </li>
                    <li>
                        1.10 Охранять на договорной основе особо важные и
                        режимные объекты, имущество граждан и организаций, а
                        также обеспечивать безопасность высших должностных лиц;
                    </li>
                    <li>
                        1.11 Пресекать массовые беспорядки в исправительных
                        учреждениях и в общественных местах;
                    </li>
                    <li>
                        1.12 Применять тяжелое вооружение и военную технику в
                        рамках чрезвычайного положения, военного положения,
                        правового режима контртеррористической операции и
                        государственных поставок.
                    </li>
                    <li>
                        1.13 Изымать у граждан и должностных лиц незаконные вечи
                        или предметы, на ношение которых у лица нет разрешения,
                        с дальнейшей передачей (в течение 12 часов) их (вещей) в
                        орган прокуратуры;
                    </li>
                    <li>
                        1.14 Осуществлять в пределах своей компетенции поиск,
                        обезвреживание и уничтожение взрывоопасных предметов.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2. Специальные полномочия и ограничения</h3>

                <div class="subsection">
                    <h4>2.1. Полномочия в особых условиях</h4>
                    <ul>
                        <li>
                            2.1.1 При введении чрезвычайного или военного
                            положения уполномоченные подразделения Росгвардии
                            вправе временно ограничивать движение транспорта и
                            пешеходов, использовать транспорт граждан для
                            служебных нужд, а также осуществлять личный досмотр
                            граждан и транспортных средств при наличии данных о
                            наличии у них оружия.
                        </li>
                        <li>
                            2.1.2 В целях задержания преступников, спасения
                            жизни людей или пресечения преступления сотрудники
                            вправе вскрывать транспортное средство,
                            предварительно представившись и разъяснив причины
                            своих действий.
                        </li>
                    </ul>
                </div>

                <div class="subsection">
                    <h4>2.2. Ограничения и порядок</h4>
                    <ul>
                        <li>
                            2.2.1 Досмотр транспортного средства общего
                            назначения на дорогах общего пользования (вне
                            охраняемых объектов) допускается только при наличии
                            конкретных данных о нахождении в нем оружия,
                            взрывчатых веществ или иных изъятых из оборота
                            предметов.
                        </li>
                        <li>
                            2.2.2 При обращении к гражданину сотрудник, за
                            исключением случаев, не терпящих отлагательства,
                            обязан назвать свои должность, звание, фамилию,
                            предъявить служебное удостоверение и разъяснить
                            причину обращения.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="subsection">
                <h3>3. Порядок применения полномочий</h3>
                <ul>
                    <li>
                        3.1 Законные требования сотрудника Росгвардии,
                        предъявленные в рамках статей 1-3 настоящего закона,
                        обязательны для исполнения гражданами и должностными
                        лицами.
                    </li>
                    <li>
                        3.2 Применение физической силы, специальных средств,
                        огнестрельного оружия, а также тяжелой техники
                        осуществляется строго в соответствии с нормами статей 6
                        и 17 Процессуального кодекса Российской Федерации.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
