---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Правила Дорожного Передвижения";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <p>
            Правила дорожного движения (ПДД) — свод правил, регулирующих
            обязанности участников дорожного движения.
        </p>

        <div class="section">
            <h2>ОСОБАЯ ЧАСТЬ</h2>

            <div class="subsection">
                <h3>1. Превышение скорости</h3>
                <ul>
                    <li>
                        1.1 Государственная дорога населенного пункта 80 км.ч
                        (+19);
                    </li>
                    <li>
                        1.2 Государственная дорога между населенными пунктами
                        110 км.ч (+19);
                    </li>
                    <li>1.3 Государственный мост 60 км.ч (+19).</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2. Аварии</h3>
                <ul>
                    <li>
                        2.1 При столкновении 2-х или более т.с запрещается:
                        покидать место аварии более чем на 10 метров,
                        самовольный вывоз т.с с места дтп: наказывается
                        административным штрафом в размере - xxx рублей.
                    </li>
                    <li>
                        2.2 Действия при столкновении 2-х или более т.с: вызвать
                        сотрудников МВД и скорой помощи, обесточить т.с;
                    </li>
                    <li>
                        2.3 Санкция при столкновении т.с с гражданином РФ:
                        Лишение прав на вождение инициатора аварии сроком от 1
                        часа при легких повреждениях потерпевшего, от 1 часа 30
                        мин при тяжелых повреждениях, от 2 часов при смертельном
                        случае.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>3. Запрещается проезд через сплошную полосу</h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 2000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>4. Запрещается проезд через двойную-сплошную полосу</h3>
                <ul>
                    <li>Наказывается выговором.</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    5. Запрещается движение задним ходом по встречной полосе
                </h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 1000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>6. Движение на т.с без водительского удостоверения</h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 20000
                        рублей и конфискация т.с на штрафстоянку с выплатой от -
                        5000 рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    7. Гражданину РФ запрещается выходить на проезжую часть без
                    уважительной причины и вблизь ближайшего пешеходного
                    перехода
                </h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 500
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>8. Запрещается вождение в нетрезвом состоянии</h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 15000
                        рублей и вывоз т.с на штрафстоянку с выплатой от - 5000
                        рублей, получив 1 выговор.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>9. Выговоры и лишение прав</h3>
                <ul>
                    <li>
                        Если Гражданин РФ получит 4 выговора он лишается прав на
                        т.с сроком 9 часов.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    10. Управление транспортным средством с выключенными фарами
                </h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 2000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>11. Препятствие обгону</h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 1000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    12. Остановка или стоянка транспортных средств на пешеходном
                    переходе
                </h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 1000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    13. Разворот в неположенном месте (На пешеходных переходах,
                    в тоннеле, на мостах)
                </h3>
                <ul>
                    <li>
                        Наказывается административным штрафом в размере - 3000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>14. Оснащение транспортного средства</h3>
                <ul>
                    <li>
                        При передвижении на транспортном средстве, водитель
                        обязан иметь при себе автомобильную аптечку и
                        огнетушитель. В случае недостатка перечисленного -
                        наказывается административным штрафом в размере - 4000
                        рублей.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>15. Виды государственных номеров</h3>
                <ul>
                    <li>15.1 Синие (Только служебное т.с) номера - МВД;</li>
                    <li>
                        15.2 Черные (Только служебное т.с) номера - Росгвардия,
                        ФСБ;
                    </li>
                    <li>15.3 Белые номера - Гражданские, ФСБ, Государство;</li>
                    <li>15.4 Желтые (Только спец. т.c) номера - Такси;</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>16. Отсутствие номеров</h3>
                <ul>
                    <li>
                        При отсутствии номеров - наказывается административным
                        штрафом в размере - 5000 рублей.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
