---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Закон о Полиции";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <div class="section">
            <h2>1. Определение полиции</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Полиция предназначена для защиты жизни, здоровья, прав и
                        свобод граждан Российской Федерации, иностранных
                        граждан, лиц без гражданства (далее также - граждане;
                        лица), для противодействия преступности, охраны
                        общественного порядка, собственности и для обеспечения
                        общественной безопасности. Полиция незамедлительно
                        приходит на помощь каждому, кто нуждается в ее защите от
                        преступных и иных противоправных посягательств.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>2. Основные направления</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Защита личности, общества, государства от противоправных
                        посягательств;
                    </li>
                    <li>
                        Предупреждение и пресечение преступлений и
                        административных правонарушений;
                    </li>
                    <li>
                        Выявление и раскрытие преступлений, производство
                        дознания по уголовным делам;
                    </li>
                    <li>Розыск лиц;</li>
                    <li>
                        Производство по делам об административных
                        правонарушениях, исполнение административных наказаний;
                    </li>
                    <li>Обеспечение правопорядка в общественных местах;</li>
                    <li>Обеспечение безопасности дорожного движения;</li>
                    <li>Государственное лицензирование граждан;</li>
                    <li>
                        Осуществление экспертно-криминалистической деятельности;
                    </li>
                    <li>Борьба с браконьерством.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>3. Руководство</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Общее руководство органами внутренних дел осуществляет
                        Полковник "МВД" Российской Федерации.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>4. Соблюдение и уважение прав и свобод человека</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Полиция осуществляет свою деятельность на основе
                        соблюдения и уважения прав и свобод человека и
                        гражданина.
                    </li>
                    <li>
                        Деятельность полиции, ограничивающая права и свободы
                        граждан, немедленно прекращается, если достигнута
                        законная цель или выяснилось, что эта цель не может или
                        не должна достигаться путем ограничения прав и свобод
                        граждан.
                    </li>
                    <li class="punishment">
                        Сотруднику полиции запрещается прибегать к пыткам,
                        насилию, другому жестокому или унижающему человеческое
                        достоинство обращению. Сотрудник полиции пресекает
                        действия, которыми гражданину умышленно причиняются
                        боль, физическое или нравственное страдание.
                    </li>
                    <li>
                        При обращении к лицу, при обращении лица к сотруднику
                        полиции, сотрудник полиции обязан назвать свою
                        должность, звание, фамилию, предъявить по просьбе
                        гражданина служебное удостоверение.
                    </li>
                    <li>
                        Сотрудники, находящиеся при исполнении обязанностей,
                        предусматривающих засекречивание своей личности, обязаны
                        предоставить жетон и назвать позывной и номер жетона
                        обратившемуся. Образцы жетонов устанавливаются
                        Правительством Российской Федерации.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>5. Обязанности полиции</h2>
            <div class="subsection">
                <ul>
                    <li>
                        5.1 Принимать и регистрировать заявления и сообщения о
                        преступлениях, об административных правонарушениях, о
                        происшествиях и принимать по таким заявлениям и
                        сообщениям меры, предусмотренные законодательством
                        Российской Федерации, информировать заявителей о ходе
                        рассмотрения таких заявлений и сообщений;
                    </li>
                    <li>
                        5.2 Прибывать незамедлительно на место совершения
                        преступления, административного правонарушения, место
                        происшествия, пресекать противоправные деяния, устранять
                        угрозы безопасности граждан и общественной безопасности;
                    </li>
                    <li>
                        5.3 Оказывать первую помощь лицам, пострадавшим от
                        преступлений, административных правонарушений и
                        несчастных случаев, а также лицам, находящимся в
                        беспомощном состоянии либо в состоянии, опасном для их
                        жизни и здоровья;
                    </li>
                    <li>
                        5.4 Обеспечивать безопасность граждан и общественный
                        порядок на улицах, площадях, стадионах, в скверах,
                        парках, на транспортных магистралях, вокзалах, в
                        аэропортах, морских и речных портах и других
                        общественных местах;
                    </li>
                    <li>
                        5.5 Обеспечивать безопасность граждан и общественный
                        порядок, оказывать в соответствии с законодательством
                        Российской Федерации содействие организаторам
                        спортивных, зрелищных и иных массовых мероприятий в
                        обеспечении безопасности граждан и общественного порядка
                        в местах проведения этих мероприятий;
                    </li>
                    <li>
                        5.6 Принимать при чрезвычайных ситуациях неотложные меры
                        по спасению граждан, охране имущества, оставшегося без
                        присмотра, содействовать в этих условиях бесперебойной
                        работе спасательных служб; обеспечивать общественный
                        порядок при проведении карантинных мероприятий;
                    </li>
                    <li>
                        5.7 В соответствии с подследственностью, установленной
                        процессуальным законодательством Российской Федерации,
                        возбуждать уголовные дела, производить дознание по
                        уголовным делам;
                    </li>
                    <li>
                        5.8 Осуществлять оперативно-розыскную деятельность в
                        целях выявления, предупреждения, пресечения и раскрытия
                        преступлений, обеспечения собственной безопасности, а
                        также в иных целях, предусмотренных федеральным законом;
                    </li>
                    <li>
                        5.9 Осуществлять надзор за соблюдением участниками
                        дорожного движения требований законодательства
                        Российской Федерации о безопасности дорожного движения;
                    </li>
                    <li>
                        5.10 Участвовать в обеспечении режима военного положения
                        и режима чрезвычайного положения в случае их введения на
                        территории Российской Федерации или в отдельных ее
                        местностях;
                    </li>
                    <li>5.11 Обеспечивать борьбу с браконьерством.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>6. Права полиции</h2>
            <div class="subsection">
                <ul>
                    <li>
                        6.1 Требовать от граждан и должностных лиц прекращения
                        противоправных действий, а равно действий,
                        препятствующих законной деятельности государственных
                        органов;
                    </li>
                    <li>
                        6.2 Требовать от граждан в случае их обращения назвать
                        свои фамилию и имя, проверять документы, удостоверяющие
                        личность граждан, а также, при наличии данных, дающих
                        основания подозревать их в совершении преступления или
                        полагать, что они находятся в розыске, либо если имеется
                        повод к возбуждению в отношении этих граждан дела об
                        административном правонарушении, а равно если имеются
                        основания для их задержания в случаях, предусмотренных
                        законодательством Российской Федерации, принимать меры
                        по идентификации указанных лиц; проверять у граждан,
                        должностных лиц, общественных объединений и организаций
                        разрешения (лицензии) и иные документы на совершение
                        определенных действий или на осуществление определенного
                        вида деятельности, контроль (надзор) за которыми
                        возложен на полицию в соответствии с законодательством
                        Российской Федерации;
                    </li>
                    <li>
                        6.3 Вызывать в отделение полиции граждан и должностных
                        лиц по расследуемым уголовным делам и находящимся в
                        производстве делам об административных правонарушениях,
                        а также в связи с проверкой зарегистрированных в
                        установленном порядке заявлений и сообщений о
                        правонарушениях. Получать по таким делам, материалам,
                        заявлениям и сообщениям необходимые объяснения, справки,
                        документы (их копии);
                    </li>
                    <li>
                        6.4 Ознакамливаться с необходимыми документами и
                        материалами, в том числе с персональными данными
                        граждан, имеющими отношение к расследованию уголовных
                        дел, производству по делам об административных
                        правонарушениях;
                    </li>
                    <li>
                        6.5 Патрулировать населенные пункты и общественные
                        места, оборудовать при необходимости контрольные и
                        контрольно-пропускные пункты, выставлять посты, в том
                        числе стационарные, заслоны, обозначать доступными
                        средствами, в том числе визуальными, места совершения
                        преступлений, административных правонарушений, места
                        происшествий, места проведения публичных и массовых
                        мероприятий, территории и объекты, нахождение граждан на
                        которых ограничено или представляет угрозу для их
                        безопасности, осуществлять временное ограждение
                        указанных мест и объектов;
                    </li>
                    <li>
                        6.6 Требовать от граждан покинуть место совершения
                        преступления, административного правонарушения, место
                        происшествия; в целях защиты жизни, здоровья и имущества
                        граждан, не допускать их на отдельные участки при
                        расследовании преступлений на местах их совершения.
                    </li>
                    <li>
                        6.7 Требовать граждан разойтись при нарушении порядка
                        проведения публичного мероприятия, либо проведения
                        собрания, митинга, демонстрации;
                    </li>
                    <li>
                        6.8 Составлять протоколы об административных
                        правонарушениях, собирать доказательства, применять меры
                        обеспечения производства по делам об административных
                        правонарушениях, применять иные меры, предусмотренные
                        законодательством Российской Федерации об
                        административных правонарушениях;
                    </li>
                    <li>
                        6.9 Проводить оперативно-розыскные мероприятия и
                        мероприятия иного характера, направленные на
                        профилактику либо ликвидацию правонарушений; объявлять
                        розыск и принимать меры по розыску лиц, совершивших
                        преступления или подозреваемых и обвиняемых в их
                        совершении, лиц, пропавших без вести, иных лиц, розыск
                        которых возложен на полицию настоящим Федеральным
                        законом, а также объявлять розыск и принимать меры по
                        розыску похищенных или угнанных транспортных средств,
                        похищенного имущества;
                    </li>
                    <li>
                        6.10 Доставлять граждан, то есть осуществлять их
                        принудительное препровождение, в служебное помещение
                        территориального органа или подразделения полиции, в
                        целях решения вопроса о задержании гражданина (при
                        невозможности решения данного вопроса на месте);
                        установления личности гражданина, если имеются основания
                        полагать, что он находится в розыске как скрывшийся от
                        органов дознания, следствия или суда, либо как
                        уклоняющийся от исполнения уголовного наказания; защиты
                        гражданина от непосредственной угрозы его жизни и
                        здоровью в случае, если он не способен позаботиться о
                        себе либо если опасности невозможно избежать иным
                        способом, а также в других случаях, предусмотренных
                        федеральным законом;
                    </li>
                    <li>
                        6.11 Производить регистрацию, фотографирование, аудио-,
                        кино- и видеосъемку, задержанных по подозрению в
                        совершении преступления, заключенных под стражу;
                    </li>
                    <li>
                        6.12 Останавливать транспортные средства, если это
                        необходимо для выполнения возложенных на полицию
                        обязанностей по обеспечению безопасности дорожного
                        движения, проверять документы на право пользования и
                        управления ими, документы на транспортные средства и
                        перевозимые грузы; осуществлять осмотр транспортных
                        средств и грузов при подозрении, что они используются в
                        противоправных целях; задерживать транспортные средства,
                        находящиеся в розыске; временно ограничивать или
                        запрещать дорожное движение, изменять организацию
                        движения на отдельных участках дорог при проведении
                        публичных и массовых мероприятий и в иных случаях в
                        целях создания необходимых условий для безопасного
                        движения транспортных средств и пешеходов либо если
                        пользование транспортными средствами угрожает
                        безопасности дорожного движения;
                    </li>
                    <li>
                        6.13 Беспрепятственно организовывать перекрытия,
                        блокады, блокировать проезды, проспекты улицы и площади
                        в соответствии с возникающей необходимостью;
                    </li>
                    <li>
                        6.14 Разрешать подразделениям (отделам, управлениям)
                        собственной безопасности территориальных органов
                        внутренних дел использовать форму одежды и транспортные
                        средства без знаков принадлежности к Министерству
                        внутренних дел в целях ведения наблюдения и проведения
                        специальных операций по проверке осуществления служебной
                        деятельности сотрудников территориального органа
                        внутренних дел.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>7. Подразделения полиции</h2>
            <div class="subsection">
                <ul>
                    <li>7.1 Уголовный Розыск (УГРО)</li>
                    <li>7.2 Патрульно-постовая служба (ППС)</li>
                    <li>7.3 Дорожно-патрульная служба (ДПС)</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>8. Задачи оперативной службы уголовного розыска (УГРО)</h2>
            <div class="subsection">
                <ul>
                    <li>Выявление и раскрытие преступлений;</li>
                    <li>Розыск лиц;</li>
                    <li>Борьба с организованной преступностью;</li>
                    <li>Возбуждение уголовных дел.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>9. Полномочия (УГРО)</h2>
            <div class="subsection">
                <ul>
                    <li>Осуществление оперативно-розыскной деятельности.</li>
                    <li>Проведение дознания.</li>
                    <li>Исполнение поручений прокурора</li>
                    <li>
                        Оперативное сопровождение предварительного расследования
                        по уголовным делам.
                    </li>
                    <li>
                        Работать в гражданской форме, когда необходимо не
                        выделятся в толпе и не привлекать к себе внимания.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>10. Задачи патрульно-постовой службы (ППС)</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Обеспечение правопорядка на улицах и в общественных
                        местах.
                    </li>
                    <li>
                        Пресечение преступлений и административных
                        правонарушений на постах и маршрутах патрулирования;
                    </li>
                    <li>Задержание лиц, совершивших преступление;</li>
                    <li>Оказание содействия подразделениям полиции.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>11. Полномочия (ППС)</h2>
            <div class="subsection">
                <ul>
                    <li>Охрана общественного порядка;</li>
                    <li>Предупреждение и пресечение преступлений;</li>
                    <li>
                        Задержание лиц, подозреваемых в совершении преступления;
                    </li>
                    <li>
                        Контроль, за соблюдением гражданами и организациями
                        общественных норм и правил;
                    </li>
                    <li>
                        Розыск преступников и угнанного т/с по ориентировке.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>12. Задачи дорожно-патрульной службы (ДПС)</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Сохранение жизни, здоровья и имущества участников
                        дорожного движения, защиту их законных прав и интересов,
                        а также интересов общества и государства;
                    </li>
                    <li>
                        Обеспечение безопасного и бесперебойного движения
                        транспортных средств;
                    </li>
                    <li>
                        Предупреждение и пресечение преступлений и
                        административных правонарушений в области дорожного
                        движения.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>13. Полномочия (ДПС)</h2>
            <div class="subsection">
                <ul>
                    <li>
                        Наблюдение за дорожным движением, в том числе с
                        использованием технических средств;
                    </li>
                    <li>Остановка транспортного средства и пешехода;</li>
                    <li>
                        Проверка документов, государственных регистрационных
                        знаков, технического состояния транспортного средства;
                    </li>
                    <li>
                        Выявление и устранение причин и условий, способствующих
                        совершению ДТП, нарушений Правил дорожного движения;
                    </li>
                    <li>
                        Требовать от участника дорожного движения выйти из
                        транспортного средства.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
