---
import PageLayout from "../../layouts/PageLayout.astro";

const title = "Процессуальный Кодекс Российской Федерации";
const parent = "Законодательство";
---

<PageLayout {title} {parent}>
    <div class="rules">
        <p>
            Процессуальное законодательство — это законы и правила, которые
            регулируют процесс рассмотрения и разрешения судебных дел, а также
            процедуры и действия, необходимые для реализации и защиты прав и
            законных интересов граждан и организаций.
        </p>

        <div class="section">
            <h2>ОСНОВНЫЕ ПОЛОЖЕНИЯ</h2>

            <div class="subsection">
                <h3>1. Меры процессуального принуждения</h3>
                <ul>
                    <li>1.1. Вынесение предупреждения;</li>
                    <li>1.2. Штраф;</li>
                    <li>
                        1.3. Задержание (не более 30 минут, до приезда
                        адвоката);
                    </li>
                    <li>1.4. Арест (не более 3 часов).</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>2. Основания для задержания</h3>
                <ul>
                    <li>2.1. Лицо застигнуто при совершении правонарушения;</li>
                    <li>2.2. Для установления личности;</li>
                    <li>2.3. Исполнение постановления Судьи или Прокурора;</li>
                    <li>
                        2.4. Имеется видеофиксация правонарушения (срок давности
                        не более 2 дней до заведения дела).
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>3. Права задержанного</h3>
                <ul>
                    <li>3.1. Не свидетельствовать против себя;</li>
                    <li>3.2. Требовать помощи государственного адвоката;</li>
                    <li>3.3. Требовать вызова сотрудника прокуратуры;</li>
                    <li>
                        3.4. Требовать телефонный звонок (не более 2 минут).
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>4. Порядок задержания</h3>
                <ul>
                    <li>
                        4.1. Показать удостоверение, если гражданин требует;
                    </li>
                    <li>4.2. Надеть наручники;</li>
                    <li>4.3. Озвучить нарушенные статьи;</li>
                    <li>4.4. Озвучить задержанному его права;</li>
                    <li>4.5. Провести первичный обыск с изъятием оружия;</li>
                    <li>
                        4.6. Доставить подозреваемого в отдел, провести
                        вторичный обыск задержанного на нелегальные средства при
                        себе;
                    </li>
                    <li>
                        4.7. В отделе реализовать права задержанного по статье 3
                        настоящего Кодекса;
                    </li>
                    <li>
                        4.8. При задержании, личном обыске или применении силы в
                        отношении сотрудника правоохранительного органа или
                        государственного служащего, действующий сотрудник обязан
                        немедленно уведомить об этом его прямое руководство, а
                        также руководство своего ведомства. Факт уведомления
                        подлежит обязательной фиксации в протоколе.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>5. Основания для освобождения подозреваемого</h3>
                <ul>
                    <li>5.1. Недостаточно доказательств;</li>
                    <li>
                        5.2. Не предусмотрено наказание в виде лишения свободы;
                    </li>
                    <li>5.3. Истек срок задержания;</li>
                    <li>
                        5.4. Отсутствует один или более из пунктов задержания по
                        статье 4 настоящего Кодекса;
                    </li>
                    <li>
                        5.5. Лицо имеет статус неприкосновенности, за
                        исключением случаев, предусмотренных пунктами 14.3 и
                        14.4 статьи 14 Конституции РФ;
                    </li>
                    <li>5.6. Нарушены стадии применения силы.</li>
                </ul>
            </div>

            <div class="subsection">
                <h3>6. Стадии применения силы</h3>
                <ul>
                    <li>6.1. Устные требования;</li>
                    <li>6.2. Применение специальных средств;</li>
                    <li>6.3. Применение огнестрельного оружия;</li>
                    <li>
                        6.4. Право на применение огнестрельного оружия.
                        Применение огнестрельного оружия является крайней мерой,
                        допустимой только для отражения непосредственной и
                        реальной угрозы жизни или здоровью сотрудника
                        правоохранительных органов, иного лица, а также для
                        пресечения вооруженного сопротивления. Сотрудник вправе
                        применить огнестрельное оружие немедленно, без
                        соблюдения последовательности стадий 6.1 и 6.2, если
                        промедление создает прямую опасность гибели людей, срыва
                        задержания лиц, подозреваемых в совершении особо тяжких
                        преступлений, либо остановки вооруженного нападения на
                        охраняемые объекты.
                    </li>
                    <li>
                        6.5. Основания для немедленного применения оружия.
                        Основаниями, указанными в пункте 6.4, являются, в
                        частности:
                    </li>
                    <ul>
                        <li>
                            - Вооруженное нападение на сотрудника или иных
                            граждан с использованием огнестрельного или
                            холодного оружия;
                        </li>
                        <li>
                            - Попытка лица, застигнутого при совершении особо
                            тяжкого преступления, скрыться, используя
                            транспортное средство или иные средства, создающие
                            реальную опасность для окружающих;
                        </li>
                        <li>
                            - Нападение на объекты под охраной
                            правоохранительных органов или попытка их захвата.
                        </li>
                    </ul>
                    <li>
                        6.6. Любое применение силы, включая использование
                        спецсредств и оружия, должно быть задокументировано
                        сотрудником в течение 1 часа после инцидента. Отчет
                        направляется в общую государственную волну.
                        Непредставление отчета равносильно признанию нарушения.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>7. Причины остановки транспортных средств</h3>
                <ul>
                    <li>
                        7.1. Остановка для пресечения преступления по Уголовному
                        Кодексу допускается для всех правоохранительных органов.
                    </li>
                    <li>
                        7.2. Остановка для проверки документов и пресечения
                        нарушений Административного Кодекса (ПДД) —
                        исключительное право дорожно-патрульной службы (ДПС
                        ГИБДД) МВД.
                    </li>
                    <li>
                        7.3. Сотрудники ФСБ и Росгвардии вправе остановить
                        транспортное средство только в следующих случаях:
                    </li>
                    <ul>
                        <li>
                            7.3.1. Для пресечения особо тяжкого преступления,
                            если промедление создает прямую угрозу жизни и
                            здоровью людей;
                        </li>
                        <li>
                            7.3.2. Для задержания лица, находящегося в розыске
                            или подозреваемого в совершении указанных
                            преступлений, если оно перемещается на данном
                            транспортном средстве;
                        </li>
                        <li>
                            7.3.3. В рамках объявленной и документально
                            оформленной специальной операции.
                        </li>
                    </ul>
                    <li>
                        7.4. Любая остановка транспортного средства по
                        основаниям, указанным в пункте 7.3, подлежит
                        обязательному документальному оформлению с указанием
                        причин в течение 1 часа.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    8. Основания для проверки документов, удостоверяющих
                    личность
                </h3>
                <ul>
                    <li>
                        8.1. Проверка документов, удостоверяющих личность
                        гражданина, сотрудником любого правоохранительного
                        органа допускается исключительно при наличии одного из
                        следующих оснований:
                    </li>
                    <ul>
                        <li>
                            8.1.1. Лицо застигнуто в момент совершения
                            правонарушения или непосредственно после него;
                        </li>
                        <li>
                            8.1.2. Лицо находится в федеральном или местном
                            розыске;
                        </li>
                        <li>
                            8.1.3. Имеются внешние признаки или оперативные
                            данные, дающие основания полагать, что лицо
                            совершило особо тяжкое преступление;
                        </li>
                        <li>
                            8.1.4. Проверка осуществляется в зоне проведения
                            санкционированного оперативно-розыскного мероприятия
                            или в условиях чрезвычайного положения.
                        </li>
                    </ul>
                    <li>
                        8.2. Плановую (рейдовую) проверку документов у граждан
                        без конкретных оснований, указанных в пункте 8.1, вправе
                        осуществлять только патрульно-постовая служба (ППС)
                        органов внутренних дел (МВД) в целях обеспечения
                        общественного порядка.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>9. Основания для увольнения</h3>
                <ul>
                    <li>9.1. По собственному желанию;</li>
                    <li>
                        9.2. По инициативе работодателя с наличием веских
                        оснований;
                    </li>
                    <li>
                        9.3. В связи с привлечением к Уголовной ответственности.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>10. Обыск</h3>
                <ul>
                    <li>
                        10.1. Личный обыск гражданского лица может
                        осуществляться в случаях сокрытия личности или на
                        основании пункта 4.5 порядка о задержании;
                    </li>
                    <li>
                        10.2. Личный обыск имущества гражданского лица может
                        быть произведен в рамках уголовного дела по решению
                        Прокуратуры.
                    </li>
                    <li>
                        10.3. Обыск подозреваемого осуществляется при задержании
                        в 2 этапа:
                    </li>
                    <ul>
                        <li>
                            10.3.1. Первичный обыск проходит на месте задержания
                            с изъятием предметов, представляющих
                            непосредственную опасность для жизни и здоровья;
                        </li>
                        <li>
                            10.3.2. Вторичный обыск проходит в отделе, где
                            изымаются все нелегальные средства задержанного
                            (оружие, наркотики, патроны).
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    11. Процессуальные сроки и гарантии при длительном
                    задержании
                </h3>
                <ul>
                    <li>
                        11.1. Общий срок административного задержания не может
                        превышать 30 минут, уголовного — 3 часов.
                    </li>
                    <li>
                        11.2. По истечении четверти срока (25%) фактического
                        назначенного срока лишения свобода за инкриминируемое
                        преступление, задержанный вправе требовать повторного
                        полного зачтения его прав, а также реализации права на
                        незамедлительный контакт с Прокурором и Адвокатом для
                        проверки обоснованности дальнейшего ограничения свободы.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>12. Максимальный перечень инкриминируемых статей</h3>
                <ul>
                    <li>
                        12.1. Максимальный перечень инкриминируемых статей
                        подозреваемому, в связи с нарушениями Уголовного Кодекса
                        Российской Федерации не может составлять больше 3 статей
                        в сумме при аресте.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>13. Презумпция невиновности</h3>
                <ul>
                    <li>
                        13.1. Обвиняемый считается невиновным, пока его
                        виновность в совершении правонарушения не будет доказана
                        в предусмотренном настоящим Кодексом порядке.
                    </li>
                    <li>
                        13.2. Подозреваемый или обвиняемый не обязан доказывать
                        свою невиновность. Бремя доказывания обвинения и
                        опровержения доводов, приводимых в защиту подозреваемого
                        или обвиняемого, лежит на стороне обвинения.
                    </li>
                    <li>
                        13.3. Все сомнения в виновности обвиняемого, которые не
                        могут быть устранены в порядке, установленном настоящим
                        Кодексом, толкуются в пользу обвиняемого.
                    </li>
                    <li>
                        13.4. Обвинительный приговор не может быть основан на
                        предположениях.
                    </li>
                    <li>
                        13.5. Закон, устанавливающий или отягчающий
                        ответственность, обратной силы не имеет. Гражданин не
                        может быть наказан за деяние, которое в момент его
                        совершения не признавалось правонарушением, либо наказан
                        строже, чем было предусмотрено на тот момент.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>14. Доказательства и их оценка</h3>
                <ul>
                    <li>
                        14.1. Доказательствами по делу являются: видеофиксация,
                        материальные объекты (оружие, наркотики и т.д.),
                        показания свидетелей, протоколы и иные документы,
                        оформленные в соответствии с законом.
                    </li>
                    <li>
                        14.2. Каждое доказательство подлежит оценке Прокурором
                        или Судом на предмет достоверности, законности источника
                        и относимости к делу.
                    </li>
                    <li>
                        14.3. Свидетель обязан давать правдивые показания.
                        Заведомо ложные показания влекут уголовную
                        ответственность по Уголовному кодексу Российской
                        Федерации.
                    </li>
                    <li>
                        14.4. Не могут быть использованы в суде доказательства,
                        полученные незаконным путем. Незаконными признаются, в
                        частности, сведения, добытые путем обмана, шантажа,
                        психологического давления или провокации преступления
                        (склонения лица к его совершению, когда у того не было
                        изначального умысла). Все подобные доказательства
                        исключаются из материалов дела и не учитываются при
                        вынесении приговора.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    15. Порядок изъятия и хранения вещественных доказательств
                </h3>
                <ul>
                    <li>
                        15.1. Все изъятые в ходе задержания или обыска предметы
                        подлежат обязательной описи в протоколе с указанием
                        наименования, количества и отличительных признаков.
                    </li>
                    <li>
                        15.2. Изъятые предметы передаются на ответственное
                        хранение в ведомственное хранилище (МВД, ФСБ,
                        Росгвардия, Прокуратура) до окончания расследования и
                        вынесения судебного решения.
                    </li>
                    <li>
                        15.3. Протокол об изъятии с указанием лица, принявшего
                        предметы на хранение, является неотъемлемой частью
                        материалов дела.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    16. Подследственность. Разграничение полномочий между МВД и
                    ФСБ
                </h3>
                <ul>
                    <li>
                        16.1. Органам внутренних дел (МВД) подследственны
                        преступления общеуголовной направленности, в том числе:
                    </li>
                    <ul>
                        <li>
                            - Убийство (ст. 1, 2 УК РФ), причинение вреда
                            здоровью (ст. 3-6), угроза убийством (ст. 7), побои
                            (ст. 3);
                        </li>
                        <li>
                            - Кража (ст. 10), грабеж, мошенничество (ст. 30),
                            уничтожение имущества (ст. 11);
                        </li>
                        <li>
                            - Хулиганство, явное неуважение к обществу (ст. 14);
                        </li>
                        <li>- Нарушение ПДД, повлекшее тяжкие последствия.</li>
                    </ul>
                    <li>
                        16.2. Органам федеральной службы безопасности (ФСБ)
                        подследственны преступления против основ государственной
                        власти и общественной безопасности, в том числе:
                    </li>
                    <ul>
                        <li>
                            - Террористический акт (ст. 12), экстремизм (ст.
                            19), создание незаконного вооруженного формирования
                            (ст. 13);
                        </li>
                        <li>- Шпионаж, государственная измена;</li>
                        <li>
                            - Коррупция и злоупотребления сотрудниками
                            государственных органов и силовых структур (ст. 20,
                            26);
                        </li>
                        <li>
                            - Организованная преступная деятельность,
                            контрабанда, незаконный оборот оружия и наркотиков в
                            крупных размерах (ст. 16, 17).
                        </li>
                    </ul>
                    <li>
                        16.3. Правило передачи: Если орган задержал лицо по
                        составу преступления, относящегося к подследственности
                        другого органа, он обязан в течение 30 минут уведомить
                        об этом компетентный орган и передать ему подозреваемого
                        и все материалы. До передачи права задержанного,
                        предусмотренные статьей 3 настоящего Кодекса, должны
                        быть соблюдены.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    17. Взаимодействие и разрешение конфликтов на месте
                    оперативных мероприятий
                </h3>
                <ul>
                    <li>
                        17.1. Приоритет первого прибывшего: Первый прибывший на
                        место происшествия наряд (сотрудник) любого
                        правоохранительного органа принимает на себя оперативное
                        руководство для локализации ситуации, спасения людей и
                        задержания очевидных преступников до прибытия старшего
                        по должности (званию) или представителя органа, в чьей
                        подследственности находится основное преступление.
                    </li>
                    <li>
                        17.2. Приоритет подследственности: По прибытии
                        представителя органа, к чьей подследственности относится
                        основное преступление (определяется по статье 16
                        настоящего Кодекса), тактическое руководство операцией
                        переходит к нему.
                    </li>
                    <li>
                        17.3. Разрешение споров: Любой спор между сотрудниками
                        разных ведомств на месте проведения мероприятия о
                        полномочиях или порядке действий подлежит немедленному
                        разрешению через дежурного прокурора. Устное
                        распоряжение прокурора, полученное по каналу связи,
                        является обязательным для немедленного исполнения всеми
                        участниками.
                    </li>
                    <li>
                        17.4. Обязанность по взаимодействию: Все
                        правоохранительные органы обязаны оказывать содействие
                        друг другу в пределах своей компетенции для выполнения
                        задач, предусмотренных законом.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>18. Отказ от поддержания обвинения (отзыв заявления)</h3>
                <ul>
                    <li>
                        18.1. Лицо, подавшее заявление о преступлении
                        (истец/потерпевший), вправе отказаться от поддержания
                        обвинения и забрать заявление в отношении конкретного
                        лица (ответчика/подозреваемого) или государственного
                        органа. Данное право предоставляется на стадии
                        задержания и проведения первоначальных следственных
                        действий.
                    </li>
                    <li>
                        18.2. Отзыв заявления возможен исключительно ДО момента
                        заключения подозреваемого под стражу (помещения в камеру
                        предварительного заключения). После вынесения
                        постановления о заключении под стражу или передачи
                        материалов в суд, отзыв заявления не принимается, и дело
                        рассматривается по существу в публичном порядке.
                    </li>
                    <li>
                        18.3. Данное правило не применяется к делам о
                        преступлениях, отнесенных к категории особо тяжких
                        согласно статье 31 Уголовного кодекса Российской
                        Федерации. По делам об особо тяжких преступлениях
                        уголовное преследование осуществляется в публичном
                        порядке независимо от волеизъявления потерпевшего.
                    </li>
                </ul>
            </div>

            <div class="subsection">
                <h3>
                    19. Добровольная выдача предметов при обыске и ее правовые
                    последствия
                </h3>
                <ul>
                    <li>
                        19.1. Если до начала активного поиска (обыска) в рамках
                        процессуального действия гражданин добровольно выдает
                        запрещенные или изъятые из оборота предметы (оружие,
                        наркотические средства и т.д.), этот факт является
                        смягчающим обстоятельством при назначении наказания и
                        может служить основанием для ходатайства о применении
                        более мягкой санкции.
                    </li>
                    <li>
                        19.2. Положение пункта 19.1 не применяется, если
                        выданное оружие или иное средство было применено в
                        совершении оконченного или покушения на преступление,
                        отнесенного к категории особо тяжких Уголовному кодексу
                        РФ. В таком случае добровольная выдача не освобождает от
                        ответственности за применение данного предмета в
                        преступлении и не является безусловным смягчающим
                        обстоятельством.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageLayout>
